@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    font-size: 10px;
    --grey: #777777;
    --orange: #ff6600;
}
.contenedor__404 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: center;
    min-height: 95vh;
}
.title__404 {
    margin-bottom: 3rem;
}
.title__404 h1 {
    font-size: 3.2rem;
    color: var(--grey);
    margin-bottom: 3rem;
}
.body__404 {
    margin-bottom: 3rem;
}
.body__404 h2 {
    font-size: 3.2rem;
    color: var(--grey);
}
.body__404 p {
    font-size: 2.2rem;
    color: var(--grey);
    font-weight: bold;
}
.body__404 p a {
    font-size: 2rem;
    color: var(--orange);
}
.botones__404 {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.item__boton .icon__item {
    width: 13rem;
    height: 13rem;
    background-color: var(--orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__boton .icon__item:hover {
    background-color: #777777;
}
.texto__item {
    margin-top: 2rem;
}
.texto__item p {
    font-size: 2.2rem;
    font-weight: bold;
}